body,.contactbody{
    background-color: bisque;
}
h1{
    color: black;
    text-align: center;
}
p{font-family: 'Courier New', Courier, monospace;
font-size: medium;}
.image {
    display: inline-block;
  }
  @media (max-width :600px) {
    body {
        background-color: lightblue;
      }
    h1,p{text-align:center;
    color: blue;}
.image{display: none;}

.contactbody{background-color: aqua;}
   
  }
  @media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }
  